<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->

    <!-- App css -->
    <link href="/assets/user/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/user/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">

</head>

<body>


<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">


    <!-- Start Content-->
    <div class="container">


        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="/assets/user/images/file-searching.svg" height="90"
                         alt="File not found Image">

                    <h1 class="text-error mt-4">{$code}</h1>
                    <h4 class=" text-danger mt-3">{$msg}</h4>
                    {if condition="!empty($description)"}
                    <p class="text-muted mt-3">{$description}</p>
                    {/if}

                    <!--<a target="_blank" class="btn btn-info mt-3" href="https://jq.qq.com/?_wv=1027&k=5rRSB9ID">
                        <i class="mdi mdi-qqchat"></i> 官方Q群
                    </a>-->
                    <a class="btn btn-info mt-3" href="/">
                        <i class="mdi mdi-home"></i> 回到首页
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-success mt-3" href="javascript:history.go(-1);">
                        <i class="mdi mdi-share"></i> 返回上一页
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- bundle -->
<!--<script src="/assets/user/js/vendor.min.js"></script>-->
<!--<script src="/assets/user/js/app.min.js"></script>-->


</body>
</html>
