@font-face {font-family: "iconfont";
  src: url('../fonts/font_1454899_pqhvobved2o.eot'); /* IE9 */
  src: url('../fonts/font_1454899_pqhvobved2o.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/10835337bfd94472bf75c0e409874e28.woff') format('woff2'),
  url('../fonts/font_1454899_pqhvobved2o.woff') format('woff'),
  url('../fonts/font_1454899_pqhvobved2o.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/font_1454899_pqhvobved2o.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-firefox:before {
  content: "\e695";
}

.icon-chrome:before {
  content: "\e600";
}

.icon-opera:before {
  content: "\e766";
}

.icon-edge:before {
  content: "\e69a";
}

