<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}

    <input id="c-type" data-rule="required" class="form-control" name="row[type]" type="hidden" value="{$row.type|htmlentities}">
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>


    <!--<div class="form-group">
        <label for="c-keywords" class="control-label col-xs-12 col-sm-2">{:__('Keywords')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-keywords" class="form-control" name="row[keywords]" type="text" value="{$row.keywords|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-description" class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-description" class="form-control" name="row[description]">{$row.description|htmlentities}</textarea>
        </div>
    </div>-->


    <!--<div class="form-group">
        <label for="c-goods_sort" class="control-label col-xs-12 col-sm-2">{:__('商品排序')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-goods_sort" data-rule="required" class="form-control selectpicker" name="row[goods_sort]">
                <option value="0" {if condition="$row.goods_sort == 0"}selected{/if}>默认排序</option>
                <option value="1" {if condition="$row.goods_sort == 1"}selected{/if}>添加时间降序</option>
                <option value="2" {if condition="$row.goods_sort == 2"}selected{/if}>添加时间升序</option>
                <option value="3" {if condition="$row.goods_sort == 3"}selected{/if}>商品价格降序</option>
                <option value="4" {if condition="$row.goods_sort == 4"}selected{/if}>商品价格升序</option>
                <option value="5" {if condition="$row.goods_sort == 5"}selected{/if}>商品销量降序</option>
                <option value="6" {if condition="$row.goods_sort == 6"}selected{/if}>商品销量升序</option>
            </select>
        </div>
    </div>-->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('显示'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-keywords" class="control-label col-xs-12 col-sm-2">分类权重:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" class="form-control" name="row[weigh]" type="text" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
