<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>温馨提示 - {$site.shop_title}</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/assets/shop/dist/bui/css/bui.css"/>
    <link rel="stylesheet" href="/assets/shop/css/base.css"/>

    <style>
        p{
            text-align: center;
        }

    </style>

</head>

<body>
<div class="bui-page bui-box-vertical">
    <header class="bui-bar">
        <div class="bui-bar">
            <div class="bui-bar-left btn-back">
                <a class="bui-btn"><i class="icon-back"></i></a>
            </div>
            <div class="bui-bar-main">温馨提示</div>
            <div class="bui-bar-right">
            </div>
        </div>
    </header>
    <main>

        <p style="margin-top: .2rem;">
            网站目前处于内测阶段
        </p>
        <p>
            部分功能暂时无法使用
        </p>
        <p>
            但不影响您在网站中购买商品。
        </p>
        <p>
            如有任何疑问，请<a href="{:url('service/index')}" style="color:#5e73ff">联系网站客服</a>
        </p>



    </main>
    <footer>
    </footer>
</div>

<script src="/assets/shop/dist/jquery.js"></script>
<script src="/assets/shop/dist/bui/js/bui.js"></script>

<script src="/assets/shop/js/base.js"></script>
<script>

</script>
</body>

</html>