.main .cate .cate-box{
    height: fit-content;
    padding-bottom: 10px;
    min-width: 105px;
    max-width: 137px;
}
.main .goods .goods-name{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: unset;
}



@media(min-width: 686px) {
    .goodsItem {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main .goods .goods-box{
        width: calc(50% - 44px);
    }
}

@media(min-width: 1200px) {
    .goodsItem {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main .goods .goods-box{
        width: calc(33.33% - 44px);
    }
}

@media(min-width: 1600px) {
    .goodsItem {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main .goods .goods-box{
        width: calc(25% - 44px);
    }
}

.layui-layer-content{
    height: unset!important;
}
