<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>在线投诉系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="/assets/user/toast/Css/displaystyle.css" rel="stylesheet" />
    <link href="/assets/user/toast/Js/syntaxhighlighter_3.0.83/styles/shCoreRDark.css" rel="stylesheet" />
    <link href="/assets/user/toast/Js/NZ-Plugin/Css/NZ-MsgBox.min.css" rel="stylesheet" />
    <link href="/assets/user/toast/Css/fontawesome-free-5.11.2-web/css/all.min.css" rel="stylesheet" />
    <link href="/assets/user/toast/Js/spin/spin.css" rel="stylesheet" />
    <link href="/assets/user/toast/Css/animate.min.css" rel="stylesheet" />

    <link href="/assets/user/style.css" rel="stylesheet" />

    <style>
        body {
            background: #eee;
        }
        .container{
            max-width: 900px!important;
        }
    </style>
    {block name="head"}{/block}
</head>
<body>


 {block name="main"}{/block}

<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/user/toast/Js/syntaxhighlighter_3.0.83/shCore.js"></script>
<script src="/assets/user/toast/Js/syntaxhighlighter_3.0.83/shBrushJScript.js"></script>
<script src="/assets/user/toast/Js/NZ-Plugin/Js/NZ-MsgBox.min.js"></script>
<script src="/assets/user/toast/Js/NZ-Plugin/Js/NZ-Drag.min.js"></script>
<script src="/assets/user/toast/Js/spin/spin.js"></script>
{block name="footer"}
{/block}
</body>
</html>
