<style>
    .profile-avatar-container {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .profile-avatar-container .profile-user-img {
        width: 100px;
        height: 100px;
    }

    .profile-avatar-container .profile-avatar-text {
        display: none;
    }

    .profile-avatar-container:hover .profile-avatar-text {
        display: block;
        position: absolute;
        height: 100px;
        width: 100px;
        background: #444;
        opacity: .6;
        color: #fff;
        top: 0;
        left: 0;
        line-height: 100px;
        text-align: center;
    }

    .profile-avatar-container button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
</style>
<div class="row animated fadeInRight">
    <div class="col-md-4">
        <div class="box box-success">
            <div class="panel-heading">通知配置</div>
            <div class="panel-body">

                <form id="update-form" role="form" data-toggle="validator" method="POST" action="{:url('general.notice/_edit')}">
                    {:token()}
                    <div class="box-body box-profile">


                        <div class="form-group">
                            <label for="c-complain" class="control-label">订单投诉_站长</label>
                            <select id="c-complain" class="form-control selectpicker" name="row[n_complain_ad]">
                                <option value="">不接收通知</option>
                                {volist name="list" id="vo"}
                                <option value="{$vo.className}" {if condition="$vo.className==$options.n_complain_ad"}selected{/if}>{$vo.info.name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="c-order" class="control-label">新订单_站长</label>
                            <select id="c-order" class="form-control selectpicker" name="row[n_order_ad]">
                                <option value="">不接收通知</option>
                                {volist name="list" id="vo"}
                                <option value="{$vo.className}" {if condition="$vo.className==$options.n_order_ad"}selected{/if}>{$vo.info.name}</option>
                                {/volist}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="c-order" class="control-label">新订单_用户</label>
                            <select id="c-order" class="form-control selectpicker" name="row[n_order_us]">
                                <option value="">不接收通知</option>
                                {volist name="list" id="vo"}
                                <option value="{$vo.className}" {if condition="$vo.className==$options.n_order_us"}selected{/if}>{$vo.info.name}</option>
                                {/volist}
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">{:__('Submit')}</button>
                            <button type="reset" class="btn btn-default">{:__('Reset')}</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-8">
        <div class="panel panel-default panel-intro panel-nav">

            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#one" data-toggle="tab"><i class="fa fa-twitch"></i> 通知程序</a></li>
<!--                    <li><a href="#two" data-toggle="tab"><i class="fa fa-clone"></i> 信息模板</a></li>-->
                </ul>
            </div>
            <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="one">
                        <div class="widget-body no-padding">
                            <div id="toolbar" class="toolbar">
                                <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> 刷新</a>
                            </div>
                            <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                                   data-operate-edit="{:$auth->check('general/notice/edit')}"
                                   data-operate-del="false"
                                   width="100%">
                            </table>
                        </div>
                    </div>
<!--                    <div class="tab-pane fade" id="two">-->
<!--                        <div class="widget-body no-padding">-->
<!--                            <div id="toolbar2" class="toolbar">-->
<!--                                <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> 刷新</a>-->
<!--                            </div>-->
<!--                            <table id="table2" class="table table-striped table-bordered table-hover table-nowrap"-->
<!--                                   data-operate-edit="{:$auth->check('general/notice/edit')}"-->
<!--                                   data-operate-del="false"-->
<!--                                   width="100%">-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>
        </div>

    </div>


</div>
