<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>操作指引</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container" style="margin-top: 100px;">
        <div class="jumbotron">
            <h1 style="font-size: 37px; margin-bottom: 34px;"><?php echo $title; ?></h1>
            <p><?php echo $content; ?></p>
        </div>
    </div>

</body>
</html>