<style>
    .input-notice{
        color: #4e73df;
        margin-top: 5px;
        display: block;
    }
    .dock-config{
        display: none;
    }
</style>
<input type="hidden" id="default-dock" value="{$dockType[0]['englishName']}" />
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-dock_type" class="control-label col-xs-12 col-sm-2">{:__('对接网站类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-dock_type" data-rule="required" class="form-control selectpicker" name="row[dock_type]">
                {volist name="$dockType" id="vo"}
                <option value="{$vo.englishName}">{$vo.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <?php
    foreach($dockType as $val){
        include $val['config'];
    }
    ?>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" name="row[remark]" type="text">
        </div>
    </div>



    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">确定</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div>
    </div>
</form>
