{php}
if($goods['real_price'] > 0) $pay_list = pay_list(); //获取可支付列表
{/php}
{include file="content/template/default/header.html" /}
<style>
    .small-tips {
        font-size: 15px;
        padding: 4px 13px;
    }
    .layui-input-block{
        line-height: 38px;
        /*margin-left: 0;*/
    }
    .small-tips{
        /*font-size: 14px;*/
    }

    .order-number-box {
        display: grid;
        grid-template-columns: 15px 66px 16px;
        position: relative;
        left: -16px;
    }
    .layui-form-item{
        /*display: grid;*/
        /*grid-template-columns: 45% 55%;*/
    }
    .layui-form-label{
        width: auto;
    }

    .input-group-append, .input-group-prepend {
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
    }
    .btn-decrement, .btn-increment {
        width: 100%;
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 1.5rem;
        height: 30px;
        line-height: 30px;
    }

    .btn-outline-secondary {
        color: #6c757d;
        border-color: #6c757d;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .layui-input, .layui-textarea{
        max-width: 250px;
    }

    #orderNumber{
        text-align: center;
        height: 29px;
        width: 64px;
    }
    .icon-jian, .icon-jia{
        color: #7e7e7e;
        font-size: 12px!important;
    }
</style>
<div class="main">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-md-offset2 layui-col-sm12">
            <div class="main-box confirm-order">
                <div class="pay-title">
                    <svg style="margin-bottom: -6px;" t="1603120404646" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1611" width="27" height="27">
                        <path d="M320.512 428.032h382.976v61.44H320.512zM320.512 616.448h320.512v61.44H320.512z" fill="#00EAFF" p-id="1612" data-spm-anchor-id="a313x.7781069.0.i3" class="selected"></path>
                        <path d="M802.816 937.984H221.184l-40.96-40.96V126.976l40.96-40.96h346.112l26.624 10.24 137.216 117.76 98.304 79.872 15.36 31.744v571.392l-41.984 40.96z m-540.672-81.92h500.736V345.088L677.888 276.48 550.912 167.936H262.144v688.128z" fill="#3C8CE7" p-id="1613" data-spm-anchor-id="a313x.7781069.0.i0" class=""></path>
                    </svg>
                    确认订单
                </div>

                <div class="layui-card-body">
                    <form action="{:url('/pay')}" method="post" class="layui-form">
                        <input type="hidden" name="goods_id" value="{$goods.id}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品名称</label>
                            <div class="layui-input-block">
                                <span class="small-tips tips-green noML">{$goods.name}</span>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">商品单价</label>
                            <div class="layui-input-block">
                                <span class="small-tips tips-green noML">￥{$goods.real_price}</span>
                            </div>
                        </div>
                        <div class="goods-write">
                            {if condition="$goods.real_price > 0 && $options.coupon == 1"}
                            <div class="layui-form-item">
                                <label class="layui-form-label">优惠券</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="50" name="coupon" placeholder="" value="" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            {/if}
                            <div class="layui-form-item">
                                <label class="layui-form-label">购买数量</label>
                                <div class="layui-input-block order-number-box">
                                    <div class="input-group-prepend sub" style="line-height: 31px;">
                                        <i class="iconfont icon-jian" style="font-weight: bold;"></i>
                                    </div>
                                    <div>
                                        <input type="text" id="orderNumber" name="buy_num" class="form-control order-number" required="" value="{$buy_num}">
                                    </div>

                                    <div class="input-group-append add" style="line-height: 31px; text-align: right; display: inline-block;">
                                        <i class="iconfont icon-jia"></i>
                                    </div>
                                </div>
                            </div>



                            {if condition="$site.buy_account == 1"}
                            <div class="layui-form-item">
                                <label class="layui-form-label">下单账号</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="50" name="account" required  lay-verify="required" placeholder="{$site.tip_account}" value="{$order.account|default=''}" autocomplete="off" class="layui-input">
                                </div>
                            </div>

                            {/if}
                            {if condition="$site.buy_password == 1"}
                            <div class="layui-form-item">
                                <label class="layui-form-label">查询密码</label>
                                <div class="layui-input-block">
                                    <input type="text" maxlength="20" name="password" required  lay-verify="required" placeholder="{$site.tip_password}" value="{$order.password|default=''}" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            {/if}


                            <!--附加数据-->
                            {if condition="isset($goods.attach)"}
                            {volist name="goods.attach" id="vo"}
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$vo.title}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="{$vo.name}" required  lay-verify="required" placeholder="{$vo.placeholder}" value="" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            {/volist}
                            {/if}

                            <!--对接商品订单参数-->
                            {if condition="isset($goods.inputs)"}
                            {volist name="goods.inputs" id="vo"}
                            <div class="layui-form-item">
                                <label class="layui-form-label">{$vo.title}</label>
                                <div class="layui-input-block">
                                    <input type="text" name="{$vo.name}" required  lay-verify="required" placeholder="{$vo.placeholder}" value="" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            {/volist}
                            {/if}

                            <style>
                                .pay-type-btn{
                                    background-color: #9f9f9f;
                                    padding: 0 15px;
                                    color: #fff;
                                    border-radius: 3px;
                                    user-select: none;
                                    cursor: pointer;
                                    display: inline-block;
                                    margin-bottom: 10px;
                                    margin-right: 16px;
                                }
                                .pay-type-btn-alipay.active{
                                    background-color: #1e9fff;
                                }
                                .pay-type-btn-wxpay.active{
                                    background-color: #5fb878;
                                }
                                .pay-type-btn-qqpay.active{
                                    background-color: #ed6161;
                                }
                                .pay-type-btn-moneypay.active{
                                    background-color: #e78a02;
                                }
                                .pay-type-btn-apple_pay.active{
                                    background-color: #ff065e;
                                }
                                .pay-type-btn-card.active{
                                    background-color: #009688;
                                }
                            </style>
                            {if condition="$goods.real_price > 0"}
                                {php}$pay = false; $pay_num = 0; $pay_type = "";{/php}
                                <div class="layui-form-item">
                                    <label class="layui-form-label">支付方式</label>
                                    <div class="layui-input-block">
                                        {if condition="$pay_list.alipay == true"}
                                        {php}$pay = true; $pay_num++; $pay_type = $pay_num == 1 && $pay_type == ""  ? 'alipay' : $pay_type;{/php}
                                        <span data-type="alipay" class="pay-type-btn pay-type-btn-alipay {:$pay_num == 1 ? 'active' : ''}">
                                            <i class="iconfont icon-zhifubaozhifu"></i>
                                            &nbsp;支付宝支付
                                        </span>
                                        {/if}
                                        {if condition="$pay_list.wxpay == true"}
                                        {php}$pay = true; $pay_num++; $pay_type = $pay_num == 1 && $pay_type == "" ? 'wxpay' : $pay_type;{/php}
                                        <span data-type="wxpay" class="pay-type-btn pay-type-btn-wxpay {:$pay_num == 1 ? 'active' : ''}">
                                            <i class="iconfont icon-weixin"></i>
                                            &nbsp;微信支付
                                        </span>
                                        {/if}
                                        {if condition="$pay_list.qqpay == true"}
                                        {php}$pay = true; $pay_num++; $pay_type = $pay_num == 1 && $pay_type == ""  ? 'qqpay' : $pay_type;{/php}
                                        <span data-type="qqpay" class="pay-type-btn pay-type-btn-qqpay {:$pay_num == 1 ? 'active' : ''}">
                                            <i class="iconfont icon-qq1"></i>
                                            &nbsp;QQ支付
                                        </span>
                                        {/if}
                                        {if condition="$pay_list.apple_pay == true"}
                                        {php}$pay = true; $pay_num++; $pay_type = $pay_num == 1 && $pay_type == ""  ? 'apple_pay' : $pay_type;{/php}
                                        <span data-type="apple_pay" class="pay-type-btn pay-type-btn-apple_pay {:$pay_num == 1 ? 'active' : ''}">
                                            <i class="iconfont icon-qq1"></i>
                                            &nbsp;Apple Pay
                                        </span>
                                        {/if}
                                        {if condition="$pay_list.card == true"}
                                        {php}$pay = true; $pay_num++; $pay_type = $pay_num == 1 && $pay_type == ""  ? 'card' : $pay_type;{/php}
                                        <span data-type="card" class="pay-type-btn pay-type-btn-card {:$pay_num == 1 ? 'active' : ''}">
                                            <i class="iconfont icon-card"></i>
                                            &nbsp;Card
                                        </span>
                                        {/if}
                                        {if condition="$user"}
                                        {php}$pay = true; $pay_num++; $pay_type = $pay_num == 1 && $pay_type == ""  ? 'moneypay' : $pay_type;{/php}
                                        <span data-type="moneypay" class="pay-type-btn pay-type-btn-moneypay {:$pay_num == 1 ? 'active' : ''}">
                                            <i class="iconfont icon-yue"></i>
                                            &nbsp;余额支付
                                        </span>
                                        {/if}
                                        <input type="hidden" id="pay-type" name="pay_type" value="{$pay_type}" />
                                        {if condition="$pay == false"}
                                        <p style="color: #666;">暂未提供任何支付方式</p>
                                        {/if}
                                    </div>
                                </div>

                                {if condition="$goods.stock > 0"}
                                    {if condition="$pay == true"}
                                    <div class="layui-form-item">
                                        <div></div>
                                        <div class="layui-input-block btn">
                                            <button type="submit" class="pay-btn" style="border-radius: 3px;">立即支付</button>
                                        </div>
                                    </div>
                                    {/if}
                                {else /}
                                    <div class="layui-form-item">
                                        <label class="layui-form-label"></label>
                                        <div class="layui-input-block">库存不足，无法购买</div>
                                    </div>
                                {/if}
                            {else /}
                                {if condition="$goods.stock > 0"}
                                    <div class="layui-form-item">
                                        <div class="layui-input-block btn">
                                            <button type="submit" class="pay-btn" style="border-radius: 3px;">完成购买</button>
                                        </div>
                                    </div>
                                {else /}
                                    <div class="layui-form-item">
                                        <label class="layui-form-label"></label>
                                        <div class="layui-input-block">库存不足，无法购买</div>
                                    </div>
                                {/if}
                            {/if}
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    window.onload = function(){
        $('.pay-btn').click(function(){
            $('#buy-btn').click();
        })

        $('.pay-type-btn').click(function(){
            $('.pay-type-btn').removeClass('active');
            $(this).addClass('active');
            var pay_type = $(this).data('type');
            $('#pay-type').val(pay_type);
        })

    }


</script>

{include file="content/template/default/footer.html" /}
