</div>
<style>
    .laypro_footer{
        text-align: center;
        padding: 30px 0 20px 0;
        color: #737573;

    }
    #statistics a{
        color: #737573;
    }
</style>





<script src="/content/template/default/js/layui.js?v={$template_version}"></script>
<script src="/content/template/default/js/main.js?v={$template_version}"></script>
<script src="/content/template/default/js/jquery.qrcode.min.js?v={$template_version}"></script>
<script src="/assets/shop/dist/uaredirect.js?v={$template_version}"></script>


<div class="laypro_footer">
    Powered by @{$site.shop_pet_name} &nbsp;&nbsp;
    {if condition="!empty($site.beian)"}<a href="https://beian.miit.gov.cn/#/Integrated/index" style="color: #666;">{$site.beian}</a>{/if}
    <!--流量统计代码-->
    <span id="statistics">
        {$site.statistics}
    </span>

</div>

<script>
    $(".mobile-icon").click(function () {
        $(".nav").toggleClass('layui-show');
    });
</script>
{:doAction('home_foot')}
</body>

</html>


