<style>
    /*sku选择样式*/

    .clear{
        clear: both;
    }
    .delCusSkuVal,
    .delCusSkuType {
        font-size: 14px;
        text-decoration: none;
        color: #666;
    }
    /*表格样式*/
    table.skuTable {
        font-size:14px;
        color:#333333;
        border-width: 1px;
        border-color: #ddd;
        border-collapse: collapse;
        width: 100%;
    }
    table.skuTable th {
        border-width: 1px;
        padding: 10px 10px;
        border-style: solid;
        border-color: #ddd;
        color:#666;
        background-color: #ededed;
    }
    table.skuTable td {
        border-width: 1px;
        padding: 5px 10px;
        border-style: solid;
        border-color: #ddd;
        background-color: #ffffff;
        color:#777;
        widows: auto;
        text-align: center;
        font-size: 12px;
    }
    table.skuTable td input{
        width:100%;
        font-size:14px;
        padding:0;
        margin:0;
        color:#666;
        border-color: #dfdfdf;
        border-width: 1px;
        padding: 0 0 0 5px;
    }


    /*按钮样式*/
    .button{
        padding: 4px 10px;
        border: none;
        background: #34495e;
        color: white;
        font-size: 16.5px;
        text-decoration: none;
        text-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
        -webkit-backface-visibility: hidden;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
    }
    .cloneSku{
        margin: 10px 0 0 40px;
        background-color: #3498db;
    }
    button:focus {
        outline: none;
    }
    /*其他样式*/
    li em{
        color: #f00;
        margin-left: -8px;
        width: 8px;
        font-style: normal;
        vertical-align: sub;
    }
</style>
<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="panel panel-default panel-intro" style="margin-bottom: 15px;">
        <div class="panel-heading">
            <div class="panel-lead">
                <em>温馨提示</em>
                添加库存时请尽量按照提示要求填写
                <br>
                {if condition="$goods_info.goods_type == 'alone'"}
                每行填写一个卡密
                {elseif condition="$goods_info.goods_type == 'fixed'"}
                当前商品为重复卡密，您只需要填写一个卡密，即可重复使用，但同时你也需要手动填写库存数量
                {elseif condition="$goods_info.goods_type == 2"}
                每行填写一组账号密码，格式为：账号123456密码123456
                {elseif condition="$goods_info.goods_type == 3"}
                您可以一次性选择多张图片进行上传
                {/if}
            </div>
        </div>
    </div>
    {if condition="$goods_info.goods_type == 'fixed' || $goods_info.goods_type == 'manual'"}
    <div class="form-group" id="stock" style="">
        <label class="control-label col-xs-12 col-sm-2">数量</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-stock" class="form-control" name="row[stock]" type="number" value="{:$cdk ? $cdk.num : 100}">
        </div>
    </div>
    {/if}
    <textarea style="display: none;" id="sku-data">{$goods_info.sku}</textarea>
    {if condition="$goods_info.goods_type != 'manual'"}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">卡密</label>

        {if condition="$goods_info.goods_type == 'fixed'"}

        <div class="col-xs-12 col-sm-8">
            <input id="c-kami" class="form-control" name="row[kami]" type="text" value="{:$cdk ? $cdk.cdk : ''}">
        </div>
        {/if}
        {if condition="$goods_info.goods_type == 'alone'"}
        {if condition="empty($goods_info.sku)"}
        <div class="col-xs-12 col-sm-8"><textarea id="c-stock" class="form-control " rows="15" name="row[stock]"></textarea></div>
        {else /}
        <div class="col-xs-12 col-sm-8" id="sku-table"></div>
        {/if}
        {/if}
    </div>
    {/if}

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
