<style>
    .profile-avatar-container button{
        position:absolute;
        top:0;left:0;width:100px;height:100px;opacity: 0;
    }
    .pay-type{

        font-size: 13px;
        line-height: 13px;
        border: 1.5px solid rgba(32,35,51,.2);
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: 500;
        color: #010101;
        padding: 6px 10px;
        border-radius: 1px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
    }
    .pay-type.active{
        border-color: #4aadff;
        background: #4aadff;
        color: #fff;
    }
    .course-div img{
        max-width: 100%;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="" style="width: 250px; float: left;">
            {include file="default/common/sidenav" /}
        </div>
        <div class="user-main" style=" float: right;">


            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">{:__('查询订单')}</h2>
                    <form class="balance-form" method="get" action="">
                        {if condition="in_array('mobile', $options.buy_input)"}
                        <div class="form-group">
                            <label class="form-label">手机号码</label>
                            <input class="form-control" type="text" value="{$mobile}" placeholder="请输入游客下单时填写的手机号码" name="mobile">
                        </div>
                        {/if}
                        {if condition="in_array('email', $options.buy_input)"}
                        <div class="form-group">
                            <label class="form-label">电子邮箱</label>
                            <input class="form-control" type="text" value="{$email}" placeholder="请输入游客下单时填写的电子邮箱" name="email">
                        </div>
                        {/if}
                        {if condition="in_array('password', $options.buy_input)"}
                        <div class="form-group">
                            <label class="form-label">查单密码</label>
                            <input class="form-control" type="text" value="{$password}" placeholder="请输入游客下单时填写的查单密码" name="password">
                        </div>
                        {/if}

                        <div class="form-group normal-footer">
                            <button type="submit" class="btn btn-primary btn-embossed">{:__('立即查询')}</button>
                            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">{:__('查询到的订单')}</h2>
                    <div class="">
                        {if condition="$total == 0"}
                        <span>未查询到任何订单！</span>
                        {/if}
                        {volist name="list" id="vo"}
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-2" style="width: 16.15%;">
                                <a href="{:url('/goods/' . $vo.goods_id)}" class="img-zoom">
                                    <img class="img-responsive img-hover" src="{$vo.goods_cover}" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 action-btns">
                                <h4 style="margin-top: 5px;"><a href="{:url('/goods/' . $vo.goods_id)}">{$vo.goods_name}</a></h4>
                                <p class="text-muted">订单号：{$vo.out_trade_no}</p>
                                <p class="text-muted">
                                    订单金额：{$vo.money}；
                                    购买数量：{$vo.goods_num}；
                                    {if condition="$vo.sku_name"}{$vo.sku_name}：<span class="">{$vo.sku}</span>；{/if}
                                    {if condition="$vo.pay_type"}支付方式：{$vo.pay_type}{/if}
                                </p>
                                {if condition="!empty($vo.attach)"}
                                <p class="text-muted">
                                    附加数据 >>
                                    {volist name="$vo.attach" id="v"}
                                    {if condition="!empty($v.value)"}
                                    {$v.title}：{$v.value}；
                                    {/if}
                                    {/volist}
                                </p>
                                {/if}
                                <p class="text-muted">订单创建时间：{:date('Y-m-d H:i:s', $vo.create_time)} &nbsp;&nbsp;&nbsp;付款时间：{:date('Y-m-d H:i:s', $vo.pay_time)}</p>

                                <!--                                <a data-id="{$vo.id}" class="btn btn-danger delete-order-btn"><i class="fa fa-question-circle"></i> 删除订单</a>-->
                                {if condition="!empty($vo.goods.course)"}
                                <a class="btn btn-info" data-id="{$vo.id}" data-toggle="modal" data-target="#course-template-{$vo.id}"><i class="fa fa-question-circle"></i> 使用教程</a>
                                <div class="modal fade template-nav-modal" tabindex="-1" role="dialog" id="course-template-{$vo.id}">
                                    <div class="modal-dialog modal-md" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">使用教程</h4>
                                            </div>
                                            <div class="modal-body course-div">{$vo.goods.course}</div>
                                        </div>
                                    </div>
                                </div>
                                {/if}
                                {if condition="$vo.goods_type == 'alone' || $vo.goods_type == 'fixed'"}
                                <a class="btn btn-primary" data-id="{$vo.id}" data-toggle="modal" data-target="#kami-template-{$vo.id}"><i class="fa fa-list-alt"></i> 查看卡密</a>
                                <div class="modal fade template-nav-modal" tabindex="-1" role="dialog" id="kami-template-{$vo.id}">
                                    <div class="modal-dialog modal-md" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title ">
                                                    查看卡密

                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-xxl-12 col-xl-12 col-12">
                                                        <div style="margin-bottom: 15px;">
                                                            <textarea class="hide" id="copy-all-{$vo.id}">{volist name="vo.deliver" id="v"}{$v.content . "\\r\\n"}{/volist}</textarea>
                                                            <button type="button" class="btn btn-default copy-all" data-id="{$vo.id}">复制全部</button>
                                                        </div>

                                                        {if condition="$vo.goods_type == 'alone'"}
                                                        {volist name="$vo.deliver" id="v" key="k"}
                                                        <div class="links-group">
                                                            <h5 style="margin-top: 0;">
                                                                第{$k}个
                                                                <a class="btn-copy" data-id="content-{$vo.id}-{$v.id}" style="margin-right: 10px; cursor:pointer;">复制卡密</a>
                                                                <a class="text-qrcode" id="qrcode-{$vo.id}-{$v.id}-btn" data-id="qrcode-{$vo.id}-{$v.id}" data-content-id="content-{$vo.id}-{$v.id}" style="cursor:pointer;">转换为二维码</a>
                                                                <a class="qrcode-text" id="content-{$vo.id}-{$v.id}-btn" style="display: none;" data-id="qrcode-{$vo.id}-{$v.id}" data-content-id="content-{$vo.id}-{$v.id}" style="cursor:pointer;">转换为文字</a>
                                                            </h5>
                                                            <span style="word-break: break-all;" id="content-{$vo.id}-{$v.id}">{$v.content}</span>
                                                            <div id="qrcode-{$vo.id}-{$v.id}" class="qr-code"></div>
                                                        </div>
                                                        {/volist}
                                                        {/if}
                                                        {if condition="$vo.goods_type == 'fixed'"}
                                                        {volist name="$vo.deliver" id="v" key="k"}
                                                        <div class="links-group">
                                                            <h5 style="margin-top: 0;">
                                                                第{$k}个
                                                                <a class="btn-copy" data-id="content-{$vo.id}-{$v.id}" style="margin-right: 10px; cursor:pointer;">复制卡密</a>
                                                                <a class="text-qrcode" id="qrcode-{$vo.id}-{$v.id}-btn" data-id="qrcode-{$vo.id}-{$v.id}" data-content-id="content-{$vo.id}-{$v.id}" style="cursor:pointer;">转换为二维码</a>
                                                                <a class="qrcode-text" id="content-{$vo.id}-{$v.id}-btn" style="display: none;" data-id="qrcode-{$vo.id}-{$v.id}" data-content-id="content-{$vo.id}-{$v.id}" style="cursor:pointer;">转换为文字</a>
                                                            </h5>
                                                            <span style="word-break: break-all;" id="content-{$vo.id}-{$v.id}">{$v.content}</span>
                                                            <div id="qrcode-{$vo.id}-{$v.id}" class="qr-code"></div>
                                                        </div>
                                                        {/volist}
                                                        {/if}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {/if}
                                {if condition="$vo.goods_type == 'invented'"}
                                <a href="" class="btn btn-primary" data-id="{$vo.id}" data-toggle="modal" data-target="#invented-template-{$vo.id}"><i class="fa fa-list-alt"></i> 查看发货内容</a>
                                <div class="modal fade template-nav-modal" tabindex="-1" role="dialog" id="invented-template-{$vo.id}">
                                    <div class="modal-dialog modal-md" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title ">查看发货内容</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-xxl-12 col-xl-12 col-12">
                                                        {if condition="$vo.deliver"}
                                                        <pre style="padding: 0; font-size: 16px; background-color: unset; border: unset;">{$vo.deliver[0]['content']}</pre>
                                                        {else /}
                                                        该订单还未发出任何内容哦~ 请耐心等待，如有疑问请及时联系网站客服处理！
                                                        {/if}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {/if}
                            </div>
                        </div>
                        <hr>
                        {/volist}

                        {$paginate}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .qr-code canvas{
        width: 190px;
        height: 190px;
    }
</style>