<div class="checkout-cart-layout__content" style="margin-left: 30px; margin-right: 0;">
    <div class="checkout-base">
        <div class="checkout-basket open">
            <div class="checkout-basket__header" data-toggle="checkout-cart-items">
                <h2>推广记录</h2>
                <div class="btn-control">
                    <span class="minus">
                        <button class="btn btn-icon-only">
                            <svg role="img" xmlns="https://www.w3.org/2000/svg"
                                 width="48px" height="48px" viewBox="0 0 24 24"
                                 stroke="#2329D6" stroke-width="1"
                                 stroke-linecap="square" stroke-linejoin="miter"
                                 fill="none" color="#2329D6">
                                <title>Minus</title>
                                <path d="M20,12 L4,12"></path>
                            </svg>
                        </button>
                    </span>
                    <span class="plus">
                        <button class="btn btn-icon-only">
                            <svg role="img" xmlns="https://www.w3.org/2000/svg"
                                 width="48px" height="48px" viewBox="0 0 24 24"
                                 stroke="#2329D6" stroke-width="1"
                                 stroke-linecap="square" stroke-linejoin="miter"
                                 fill="none" color="#2329D6">
                                <title>Plus</title>
                                <path d="M20 12L4 12M12 4L12 20"></path>
                            </svg>
                        </button>
                    </span>
                </div>
            </div>
            <div class="checkout-basket__body">
                <div class="cart-items-list">
                    <div class="cart-item">
                        <div class="cart-item__delivery-info">注册时间：2023-3-15 19:56:32<span>ID：150</span></div>
                        <div class="row align-items-stretch mobile-rel">
                            <div class="col-xxl-6 col-xl-6 col-6">
                                <div class="cart-item__info">
                                    <div class="cart-item__text" style="margin-left: 0;">
                                        <div class="cart-item__properties">
                                            <div class="cart-item__property-item">
                                                <span>账号：123456789@qq.com</span>
                                            </div>
                                            <div class="cart-item__property-item">
                                                <span>返利：&yen; 0.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-item">
                        <div class="cart-item__delivery-info">注册时间：2023-3-15 19:56:32<span>ID：139</span></div>
                        <div class="row align-items-stretch mobile-rel">
                            <div class="col-xxl-6 col-xl-6 col-6">
                                <div class="cart-item__info">
                                    <div class="cart-item__text" style="margin-left: 0;">
                                        <div class="cart-item__properties">
                                            <div class="cart-item__property-item">
                                                <span>账号：123456789@qq.com</span>
                                            </div>
                                            <div class="cart-item__property-item">
                                                <span>返利：&yen; 0.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout-basket__footer">
                Total 4 products — <b>55 560 ₽</b>
            </div>
        </div>

    </div>
</div>